#demoDetails{
    text-align: center;
    color:blue;
    background-color: red;
}
.container{
    display: flex;
    justify-content: center;
}
.container>div{
    height: 200px;
    width:400px;
    background-color: #000;
    color:white;
    text-align: center;
}